<div class="card text-white bg-dark mb-3 animated slideInRight">
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <form>
          <div class="form-group w-100">
            <input type="text" class="form-control w-100 bg-white"  placeholder="Enter Github Username" [(ngModel)]="username" name="username" (keyup)="searchUser()">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="card animated fadeIn" *ngIf="user">
  <div class="card-body">
    <div class="row">
      <div class="col-4 d-flex flex-column align-items-center">
        <img src="{{user?.avatar_url}}" alt="Card image cap m-auto" height="300" width="200">
        <a class="btn btn-outline-info m-2 " target="_blank" href="{{user?.html_url}}">View Profile</a>
      </div>
      <div class="col-8">
        <h2 class="card-title">{{user?.name}}</h2>
        <span class="badge badge-primary badge-pill">{{user?.public_repos}} Public Repos</span>
        <span class="badge badge-secondary badge-pill">{{user?.public_gists}} Public Gist</span>
        <span class="badge badge-success badge-pill">{{user?.followers }} Followers</span>
        <span class="badge badge-dark badge-pill ">{{user?.following}} Following</span>

        <ul class="list-group mt-2">
          <li class="list-group-item"><strong>Username: </strong>{{user?.login}}</li>
          <li class="list-group-item"><strong>Location: </strong>{{user?.location || 'N/A'}}</li>
          <li class="list-group-item"><strong>Email: </strong>{{user?.email || 'N/A'}}</li>
          <li class="list-group-item"><strong>Blog: </strong>{{user?.blog || 'N/A'}}</li>
          <li class="list-group-item"><strong>Member Since: </strong>{{user?.created_at | date}}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body" *ngIf="repos | async as repoList">
      <div *ngFor="let repo of repoList">
          <div class="row">
            <div class="col-9">
              <h4><a target="_blank" href="{{repo?.html_url}}">{{repo?.name}}</a></h4>
              <p>{{repo.description}}</p>
            </div>
            <div class="col-3">
              <span class="badge badge-primary badge-pill">{{repo?.watchers}} Watchers</span>
              <span class="badge badge-secondary badge-pill">{{repo?.forks}} Forks</span>
            </div>
          </div>
        <hr>
      </div>
    </div>
  </div>
</div>



